.slider{
    min-height: 720px;
    padding: 80px 0 60px;
    &__wrapper{
        max-width: 750px;
        max-height: 580px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    &__inner{
        // если нужно добавить картинок в слайдер width = width*(img width количество картинок)
        display: flex;
        width: 2250px;
        transition: .5s ease;
    }
}
.container{
    position: relative;
    .prev_arrow, .next_arrow {
        content: '';
        width: 31px;
        height: 50px;
        display: block;
        background: url('../img/slider/prev_arrow.svg') center (center/cover) no-repeat;
        position: absolute;
        top: 50%;
        transform: translateX(50%); 
        cursor: pointer;
    }
    .next_arrow{
        background: url('../img/slider/next_arrow.svg') center (center/cover) no-repeat;
        right: 4.5%;
    }
}

@media(max-width: 991px){
    .slider{
        &__wrapper{
            width: 550px;
        }
        &_img{
            width: 550px;
        }
    }
    
}

@media(max-width: 768px){
    .slider{
        padding: 40px 0;
        &__wrapper{
            width: 440px;
        }
        &_img{
            width: 440px;
        }
    }
    
}

@media(max-width: 576px){
    .slider{
        padding: 30px 0;
        &__wrapper{
            width: 300px;
        }
        &_img{
            width: 300px;
        }
        &__wrapper{
            // margin: 0;
        }
    }
    .container{
        .prev_arrow, .next_arrow{
            width: 15px;
            height: 25px;
        }
    }
}